#nuki_smartlock{
	.nuki_dashboard{
		.battery-ok,
		.smartlock-locked {
			a {
				color: green;
			}
		}
		.battery-critical,
		.smartlock-unlocked {
			a {
				color: red;
			}
		}
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}

		td, th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}
		h3{
			font-weight: 900;
			border-top: 1px solid;
			border-bottom: 1px solid;
			padding: 5px 0;
		}
	}
}